<h1>Hi, I'm Andrew from Taiwan. I'm a sophmore!</h1>
<h1>Fun fact: I'm left handed but I play most sports with my right hand!</h1>
<h1>I'm excited to learn more about applying these skills to the industry.</h1>
